.hero-section {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  .hero-content {
    width: 460px;
    height: 415px;
    margin-top: 45px;
    .hero-content-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 151px;
      height: 19px;
      gap: 10px;
      .plus-icon {
        width: 19px;
        height: 19px;
      }
      .health-care {
        width: 122px;
        height: 19px;
      }
    }
    .hero-heading-txt {
      font-size: 35px;
      font-weight: 600;
      width: 422px;
      color: rgba(51, 51, 51, 1);
      margin-top: 10px;
      margin-bottom: 15px;
    }
    .hero-para-txt {
      font-weight: 16px;
      color: #000000;
      margin-top: 0px;
      width: 420px;
      text-align: justify;
      line-height: 21px;
    }
    .search-container {
      width: 430px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content:center;
      // border: 1px solid rgba(242, 242, 242, 1);
      border: 1px solid #e5e7eb;
      border-radius: 108px;
      padding-left:10px;
      .search-field {
        width: 400px;
        height: 50px;
        text-indent: 10px;
        border: none;
        border-radius: 108px;
        &:focus{
          outline: none;
          border: none;
        }
      }
    }
    .hero-button {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-top: 30px;
      .hero-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 49px;
        background-color: #1d884a;
        border: none;
        width: 166px;
        height: 50px;
        padding: 15px, 20px, 16px, 25px;
        border-radius: 108px;
        font-size: 16px;
        color: white;
        font-weight: 600;
        box-shadow: 2px 2px 4px #1d884a;
        text-decoration: none;
        &:hover {
          transition: background-color 300ms ease-out;
        }
        .hero-btn-span {
          width: 18px;
          height: 18px;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .hero-icon {
            width: 6px;
            height: 8px;
          }
        }
      }
      .hero-btn-2 {
        background-color: white;
        border: none;
        font-size: 16px;
        font-weight: 600;
        color: rgba(130, 130, 130, 1);
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  .hero-section-image {
    width: 490px;
    height: 466px;
    position: relative;
    cursor: pointer;
    .image-container {
      height: 444px;
      width: 450px;
      .hero-image {
        height: 444px;
        width: 450px;
      }
    }
    .image-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      width: 191px;
      height: 191px;
      bottom: 0;
      right: 0;
      left: 330px;
      z-index: 1;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0px 0px 8px 1px rgba(242, 242, 242, 1);
      .image-card-icon {
        width: 81px;
        height: 81px;
      }
      .card-text {
        font-size: 12px;
        font-weight: 500;
        color: rgba(130, 130, 130, 1);
      }
      .card-button {
        width: 145px;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        border-radius: 20px;
        border: none;
        background-color: rgba(51, 51, 51, 1);
        color: white;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
@media screen and (max-width: 820px) {
  .hero-section {
    .hero-content {
      width: 330px;
      height: 350px;
      margin-top: 30px;
      .hero-content-icon {
        width: 151px;
        height: 19px;
        gap: 10px;
        .plus-icon {
          width: 19px;
          height: 19px;
        }
        .health-care {
          width: 122px;
          height: 19px;
        }
      }
      .hero-heading-txt {
        font-size: 34px;
        font-weight: 700;
        width: 320px;
        margin-top: 20px;
      }
      .hero-para-txt {
        font-weight: 12px;
        margin-top: 39px;
        width: 300px;
      }
      .search-container {
        width: 320px;
        margin-top: 30px;
        .search-field {
          width: 320px;
          height: 40px;
          border-radius: 20px;
          text-indent: 20px;
        }
      }
      .hero-button {
        gap: 30px;
        margin-top: 30px;
        .hero-btn {
          gap: 39px;
          width: 146px;
          height: 40px;
          padding: 10px, 15px, 11px, 20px;
          font-size: 15px;
          color: white;
          font-weight: 400;
          .hero-btn-span {
            width: 18px;
            height: 18px;
            .hero-icon {
              width: 6px;
              height: 8px;
            }
          }
        }
        .hero-btn-2 {
          font-size: 15px;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
    .hero-section-image {
      width: 330px;
      height: 330px;
      position: relative;
      .image-container {
        height: 330px;
        width: 330px;
        .hero-image {
          height: 330px;
          width: 330px;
        }
      }
      .image-card {
        width: 150px;
        height: 150px;
        bottom: 0;
        right: 0;
        top: 230px;
        left: 190px;
        .image-card-icon {
          width: 60px;
          height: 60px;
        }
        .card-text {
          font-size: 12px;
          font-weight: 500;
        }
        .card-button {
          width: 130px;
          height: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .hero-section {
    .hero-content {
      width: 330px;
      height: 350px;
      margin-top: 30px;
      .hero-content-icon {
        width: 151px;
        height: 19px;
        gap: 10px;
        .plus-icon {
          width: 19px;
          height: 19px;
        }
        .health-care {
          width: 122px;
          height: 19px;
        }
      }
      .hero-heading-txt {
        font-size: 30px;
        font-weight: 700;
        width: 320px;
        margin-top: 20px;
      }
      .hero-para-txt {
        font-weight: 12px;
        margin-top: 39px;
        width: 300px;
      }
      .search-container {
        width: 320px;
        margin-top: 30px;
        .search-field {
          width: 320px;
          height: 40px;
          border-radius: 20px;
          text-indent: 20px;
        }
      }
      .hero-button {
        gap: 30px;
        margin-top: 30px;
        .hero-btn {
          gap: 39px;
          width: 146px;
          height: 40px;
          padding: 10px, 15px, 11px, 20px;
          border-radius: 108px;
          font-size: 15px;
          font-weight: 400;

          &:hover {
            transition: background-color 300ms ease-out;
          }
          .hero-btn-span {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            .hero-icon {
              width: 6px;
              height: 8px;
            }
          }
        }
        .hero-btn-2 {
          border: none;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
    .hero-section-image {
      margin-top: 1px;
      width: 300px;
      height: 330px;
      position: relative;
      .image-container {
        height: 330px;
        width: 300px;
        margin-top: 0px;
        .hero-image {
          margin-top: 0px;
          height: 330px;
          width: 300px;
        }
      }
      .image-card {
        width: 150px;
        height: 150px;
        bottom: 0;
        right: 0;
        top: 240px;
        left: 180px;

        .image-card-icon {
          width: 55px;
          height: 55px;
        }
        .card-text {
          font-size: 12px;
          font-weight: 400;
        }
        .card-button {
          width: 130px;
          height: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .hero-section {
    width: 100%;
    flex-direction: column;
    .hero-content {
      width: 90%;
      height: 415px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .hero-heading-txt {
      font-size: 32px;
      text-align: center;
    }
    .hero-para-txt {
      width: 100%;
      text-align: center;
    }
    .search-container {
      width: 100%;
      .search-field {
        width: 95%;
        height: 50px;
      }
    }
  }
}
.hero-section-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 466px;
  position: relative;
  .image-container {
    height: 444px;
    width: 100%;
    .hero-image {
      height: 444px;
      width: 100%;
    }
  }
}
