.buttons-section {
  .urgent-care-btn {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 49px;
    background-color: white;
    border: none;
    width: 306px;
    height: 50px;
    padding: 15px, 20px, 16px, 25px;
    border-radius: 108px;
    font-size: 16px;
    color: rgba(29, 136, 74, 1);
    font-weight: 600;
    border: 1px solid rgba(29, 136, 74, 1);
    cursor: pointer;
    &:hover {
      transition: background-color 300ms ease-out;
    }
    .svg1-text {
      display: flex;
      .btn-svg1 {
        width: 21px;
        height: 19px;
        margin-left: 25px;
        margin-right: 10px;
      }
    }
    .urgent-care-btn-span {
      width: 18px;
      height: 18px;
      background-color: rgba(29, 136, 74, 0.2);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      cursor: pointer;
      .urgent-care-icon {
        width: 6px;
        height: 8px;
      }
    }
  }
}

@media screen and (max-width:820px) {
  .buttons-section {
    .urgent-care-btn {
      gap:30px;
      width: 206px;
      height: 40px;
      font-size: 15px;
      font-weight: 600;
    }
  }
}
@media screen and (max-width:600px) {
  .buttons-section {
    .urgent-care-btn {
    margin: 10px;
    gap: 49px;
    width: 306px;
    height: 50px;
    font-size: 16px;
    }
  }
}