.star-doctor-section {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  background-color: rgba(246, 250, 253, 1);
  margin-top: 35px;
  .star-doctor-content {
    width: 635px;
    margin-top: 74px ;
    margin-left: 67px;
    .heading-text {
      font-size: 36px;
      font-weight: 700;
      color: rgba(51, 51, 51, 1);
      margin: 0px;
    }
    .para-text {
      color: rgba(130, 130, 130, 1);
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px;
    }
    .bullet-container {
      margin-top: 25px;
      .circle-txt {
        height: 19px;
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 15px;
        padding: 0px;
        .circle {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: rgba(29, 136, 74, 1);
          
          .bullet-text {
            color: rgba(51, 51, 51, 1);
            font-size: 16px;
            font-weight: 700;
            margin: 0px;
          }
        }
      }
    }
    .joinnow-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 49px;
        background-color: #1d884a;
        border: none;
        width: 182px;
        height: 50px;
        padding: 15px, 20px, 16px, 25px;
        border-radius: 108px;
        font-size: 16px;
        color: white;
        font-weight: 600;
        box-shadow: 2px 2px 4px #1d884a;
        margin-top: 38px;
        text-decoration: none;
        &:hover {
          transition: background-color 300ms ease-out;
        }
        .joinnow-btn-span {
          width: 18px;
          height: 18px;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .joinnow-icon {
            width: 6px;
            height: 8px;
          }
        }
      }
  }
  .star-doctor-image {
    width: 630px;
    height: 450px;
    .svg-image {
      width: 600px;
      height: 450px;
    }
  }
}

@media screen and (max-width:820px){
  .star-doctor-section {
    height: 500px;
    .star-doctor-content {
      width: 390px;
      margin-top: 74px ;
      margin-left: 25px;
      .heading-text {
        font-size: 34px;
      }
      .para-text {
      }
      .bullet-container {
        margin-top: 25px;
        
        .circle-txt {
          height: 22px;
          gap: 20px;
          margin-top: 15px;
          padding: 0px;
          .circle {
            width: 14px;
            height: 14px;
          }
            .bullet-text {
              font-size: 14px;
              font-weight: 500;

            }
        }
      }
      .joinnow-button {
          gap: 39px;
          width: 155px;
          height: 40px;
          font-size: 15px;
          font-weight: 600;
          .joinnow-btn-span {
            width: 16px;
            height: 16px;
            .joinnow-icon {
              width: 6px;
              height: 8px;
            }
          }
        }
    }
    .star-doctor-image {
      width: 390px;
      height: 450px;
      .svg-image {
        width: 380px;
        height: 450px;
      }
    }
  }
}


@media screen and (max-width:768px){
  .star-doctor-section {
    height: 500px;
    .star-doctor-content {
      width: 400px;
      margin-top: 74px ;
      margin-left: 25px;
      .heading-text {
        font-size: 34px;
      }
      .bullet-container {
        margin-top: 25px;
        
        .circle-txt {
          height: 22px;
          gap: 17px;
          .circle {
            width: 12px;
            height: 12px;
          }
            .bullet-text {
              font-size: 14px;
            }
        }
      }
    }
    .star-doctor-image {
      width: 370px;
      height: 450px;
      .svg-image {
        width: 370px;
        height: 450px;
      }
    }
  }
}
@media screen and (max-width:600px){
  .star-doctor-section {
    width: 100%;
    height: 700px;
    flex-direction: column-reverse;
    margin-top: 5px;
    margin-bottom: 30px;
    .star-doctor-content {
      width: 100%;
      margin-top: 0px ;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .heading-text {
        font-size: 30px;
        text-align: center;
      }
      .para-text {
        font-size: 14px;
        text-align: center;
      }
      .bullet-container {
        margin-top: 25px;
        width: 95%;
        .circle-txt {
          width: 100%;
          height: 22px;
          gap: 10px;
          margin-top: 15px;
          padding: 0px;
          .circle {
            width: 12px;
            height: 12px;
          }
            .bullet-text {
              width: 100%;
              font-size: 14px;
              font-weight: 500;
              // text-align: center;
            }
        }
      }
      .joinnow-button {
          gap: 39px;
          width: 155px;
          height: 40px;
          font-size: 15px;
          font-weight: 600;
          .joinnow-btn-span {
            width: 16px;
            height: 16px;
            .joinnow-icon {
              width: 6px;
              height: 8px;
            }
          }
        }
    }
    .star-doctor-image {
      width: 100%;
      height: 300px;
      .svg-image {
        width: 95%;
        height: 300px;
      }
    }
  }
}